n8n-workflows/inventory-sync-30min.json
{
  "name": "Inventory Sync (30min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "76d338a0-2f9a-4f5a-8b8a-1a8a2a3a4a5a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.API_HUB_URL}}/api/suppliers",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a5b-bc6d-7e8f9a0b1c2d",
      "name": "Get Active Suppliers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{$json}}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4b5c-cd7e-8f9a0b1c2d3e",
      "name": "Split Suppliers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_HUB_URL}}/api/promostandards/sync/inventory",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "supplier_id",
              "value": "={{$node[\"Split Suppliers\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c5d-de8f-9a0b1c2d3e4f",
      "name": "Trigger Inventory Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Suppliers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Suppliers": {
      "main": [
        [
          {
            "node": "Split Suppliers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Suppliers": {
      "main": [
        [
          {
            "node": "Trigger Inventory Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": ""
  },
  "pinData": {},
  "versionId": ""
}
